<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<style>
	body {
	            background-image: url('https://github.com/Jayamalini20/mp3Files/blob/main/customerHome1.png?raw=true');
	            background-size: cover; /* Ensures the image covers the entire background */
	            
	            background-repeat: no-repeat; /* Prevents the image from repeating */
	            margin: 0;
	            padding: 0;
	            color: #fff; /* Adjust text color for visibility */
	        }
	
</style>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<header class="header">
		<h1 class="message">Streaming Your Vibe..!</h1>
		<a href="login">LOGIN</a>
		<a href="register">REGISTER</a>
	</header>
	
		
		
</body>
</html>