<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<section>
		<h1 th:text="${playlist.name}">Playlist Name</h1>
		<!-- <img th:src="${playlist.image}" alt="Playlist Image"> -->
		</h2>
		<div class="container">
			<div class="card" th:each="song : ${songs}">
				<img th:src="${song.image}" alt="Song Image">
				<div class="details">
					<p th:text="${song.name}">Song Name</p>
					<!-- Uncomment the following lines if you have artist and genre data -->
					<!-- <p th:text="${song.artist}">Artist Name</p> -->
					<!-- <p th:text="${song.genre}">Genre</p> -->
				</div>
				<audio controls>
					<source th:src="${song.link}" type="audio/mpeg">
				</audio>
			</div>
		</div>
		<a href="/viewPlaylists">Back to Playlists</a>
	</section>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var audios = document.querySelectorAll("audio");
			console.log("Number of audio elements found: ", audios.length);

			audios.forEach(function (audio) {
				audio.addEventListener("play", function () {
					console.log("Audio started playing:", audio);
					audios.forEach(function (otherAudio) {
						if (otherAudio !== audio) {
							console.log("Pausing audio:", otherAudio);
							otherAudio.pause();
						}
					});
				});
			});
		});
	</script>
</body>

</html>